html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Diversity-Red: #f63142;
}

.container-fluid {
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Incised;
    src: url(Fonts/Incised901\ Ct\ BT\ Compact.ttf);
}

@font-face {
    font-family: Petty;
    src: url(Fonts/Petty\ Despot\ NF\ W01\ Regular.ttf);
}

.navbar {
    background-color: transparent;
}

.nav-brand {
    max-width: 5rem;
}

.navbar-brand {
    color: white;
    font-family: inter;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-brand-text {
    padding-left: 1rem;
    text-decoration: none;
}

.nav-brand-text::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--Diversity-Red);
    transition: all ease-in-out 250ms;
}

.nav-brand-text-white::after {
    background-color: white;
}

.nav-brand-text:hover::after {
    width: 9%;
}

.nav-brand-text:hover {
    text-decoration: none;
    color: white;
}

.nav-link {

    color: white;
    font-family: inter;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    transition: all ease-in-out 250ms;

    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 20rem;
    background-color: var(--Diversity-Red);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    transition: all ease-in-out 250ms;
}

.nav-link:hover {
    background-color: white;
    color: var(--Diversity-Red);
}

.nav-background {
    background-color: var(--Diversity-Red);
}

.nav-padding {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-text {
    font-family: Incised;
    color: #f3e4dd;
    font-size: 5.5rem;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.nav-text:hover {
    color: rgba(255, 255, 255, 0.7);
}

.nav-list {
    list-style-type: none;
}

.topBanner {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

h1 {
    font-family: Incised;
    color: #f3e4dd;
    font-size: 8vw;
}

.parallax {
    /* The image used */
    background-image: url("Images/Banner.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    /* The image used */
    background-image: url("Images/faces.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quoteText {
    padding: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: var(--Diversity-Red);
}

h3 {
    font-family: Petty;
    font-size: 4vw;
    color: #f3e4dd;
    margin-block-end: 0rem;
}

#image-section-1 {
    background-image: url(Images/image-section-1.png);
    padding-bottom: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-family: Petty;
    font-size: 3vw;
    color: #f3e4dd;
    margin-block-end: 0rem;
}

#paper-background {
    background-image: url(Images/redCardPaper.jpg);
    padding: 5rem;
}

#square-image-1 {
    background-image: url(Images/moviePosterStyle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17.68rem;
}

.row {
    margin: auto;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-styling {
    max-width: 30vw;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.nav-image-styling {
    width: 30rem;
    filter: invert(91%) sepia(2%) saturate(1995%) hue-rotate(320deg) brightness(105%) contrast(91%);
}