html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Diversity-Red: #f63142;
}

.container-fluid {
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Incised;
    src: url(Fonts/Incised901\ Ct\ BT\ Compact.ttf);
}

@font-face {
    font-family: Petty;
    src: url(Fonts/Petty\ Despot\ NF\ W01\ Regular.ttf);
}

.navbar {
    background-color: transparent;
}

.nav-brand {
    max-width: 5rem;
}

.navbar-brand {
    color: white;
    font-family: inter;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-brand-text {
    padding-left: 1rem;
    text-decoration: none;
}

.nav-brand-text::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--Diversity-Red);
    transition: all ease-in-out 250ms;
}

.nav-brand-text-white::after {
    background-color: white;
}

.nav-brand-text:hover::after {
    width: 9%;
}

.nav-brand-text:hover {
    text-decoration: none;
    color: white;
}

.nav-link {

    color: white;
    font-family: inter;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    transition: all ease-in-out 250ms;

    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 20rem;
    background-color: var(--Diversity-Red);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    transition: all ease-in-out 250ms;
}

.nav-link:hover {
    background-color: white;
    color: var(--Diversity-Red);
}

.nav-background {
    background-color: var(--Diversity-Red);
}

.nav-padding {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-text {
    font-family: Incised;
    color: #f3e4dd00;
    font-size: 5.5rem;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    animation: slideFade 0.5s ease forwards;
}

#nav-text-2 {
    animation-delay: 125ms;
}

#nav-text-3 {

    animation-delay: 250ms;
}

#nav-text-4 {
    animation-delay: 375ms;
}

@keyframes slideFade {
    0% {
        padding-left: 7rem;
        color: #f3e4dd00;
    }

    70% {}

    100% {
        padding-left: 0rem;
        color: #f3e4dd;
    }
}

.nav-text:hover {
    color: #f3e4dd7e;
}

.nav-list {
    list-style-type: none;
}

.topBanner {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

h1 {
    font-family: Incised;
    color: #f3e4dd;
    font-size: 8vw;
    animation: SlideUpFade 0.5s ease forwards;
}

h2 {
    font-family: Incised;
    color: #f3e4dd00;
    font-size: 3vw;
    padding-left: 0.4rem;
    animation: SlideUpFade 0.5s ease forwards;
    animation-delay: 0.5s;
}

@keyframes SlideUpFade {
    0% {
        transform: translateY(100px);
        color: #f3e4dd00;
    }

    100% {
        transform: translateY(0px);
        color: #f3e4dd;
    }
}

.parallax {
    /* The image used */
    background-image: url("Images/Banner.webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quoteText {
    padding: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: var(--Diversity-Red);
}

h3 {
    font-family: Petty;
    font-size: 4vw;
    color: #f3e4dd00;
    margin-block-end: 0rem;
}

.textBoxAnimation {
    color: #f3e4dd00;
    top: -400px;
    animation: drop 1s ease forwards;
}

@keyframes drop {
    0% {
        padding-top: 20rem;
        color: #f3e4dd00;
    }

    70% {}

    100% {
        padding-top: 15rem;
        color: #f3e4dd;
    }
}


#image-section-1 {
    background-image: url(Images/image-section-1.webp);
    padding-bottom: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-family: Petty;
    font-size: 3vw;
    color: #f3e4dd;
    margin-block-end: 0rem;
}

#paper-background {
    background-image: url(Images/redCardPaper.webp);
    padding: 5rem;
}

#square-image-1 {
    background-image: url(Images/moviePosterStyle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17.68rem;
}

.row {
    margin: auto;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-styling {
    max-width: 30vw;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.nav-image-styling {
    width: 30rem;
    filter: invert(91%) sepia(2%) saturate(1995%) hue-rotate(320deg) brightness(105%) contrast(91%);
}

/* advantages page starts here! */

.parallax-1 {
    /* The image used */
    background-image: url("Images/advantagesBanner.webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#image-section-2 {
    background-image: url(Images/UnityInDiversity2.webp);
    padding-bottom: 60rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0) 90%);
}

.starBackground {
    /* The image used */
    background-image: url("Images/SpaceBackground.webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breakUpConatiner {
    padding: 5vw;
    padding-top: 10vw;
}

.smallHeading {
    color: rgb(255, 255, 255);
    text-align: center;
}

.smallInfoRow {
    padding: 5rem;
    color: rgb(255, 255, 255);
}

.smallInfoText {
    padding: 0rem;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
}

/* kaitiakitanga page start here! */

.parallax-2 {
    /* The image used */
    background-image: url("Images/ThirdBanner.webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}